//Fonts
$fira-sans: 'Fira Sans', sans-serif;

//Font usage
$font-main:$fira-sans;

//Colors
$ghost-white:#f9f9f9;
$granite-gray:#666666;
$medium-sea-green:#2ebd59;
$spanish-gray:#919191;

//Colors usage
$color-primary:$ghost-white;
$color-secondary:$granite-gray;
$color-accent:$medium-sea-green;
$color-secondary-lighter:$spanish-gray;
